body {
    background: url("../img/bg.jpg")no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    padding-top: 60px;
}

.container {
    background:white;
    padding: 20px;
    border-radius: 1px;
    border-color: white;
    width: 80%;
    max-width: 1200px;
    color: white;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

nav {
    width: 100%;
    background-color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #c10a28;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
    background-size: 100%;
}

.navbar a:hover {
    color: gold;
    background-color: black;
}

header {
    text-align: center;
    background: url("../img/header_bg.jpg") no-repeat center;
    color: white;
    padding: 20px 0;
}
header img{
    background-color: #000000;
    border: 4px solid #ffffff;
}

section{
    text-align: center;
    align-items: center;
    padding: 20px;
    color: white;
}

h1{
    font-family: Algerian, Serif, sans-serif;
}

h2{
    font-family: "Agency FB", Serif, sans-serif;
}
header img {
    width: 100px;
    height: auto;
}

header p{
    color: gold;
}

.topic{
    color: #007e9f;
}

#event-details{
    color: mintcream;
    text-align: center;
    background: linear-gradient(to right, #333333, black) ;
}

#guests-speakers {
    text-align: center;
    background-color: black;
}


#guests-speakers .guest {
    display: inline-block;
    width: 23%;
    margin: 2%;
    text-align: center;
    border: 2px solid white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    transition: transform 0.3s;
}

#guests-speakers .guest img {
    width: 100%;
    height: auto;
}

#guests-speakers .guest:hover {
    transform: scale(1.1);
}
#gallery {
    background: #333333;
}
#imgal{
    text-align: center;
    display: flex;
}

#gallery img {
    width: 100%;
    margin: 1%;
    cursor: pointer;
}

#gallery img:hover {
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

#schedule{
    background-color: black;
}

table {
    height: max-content;
    margin: 0 15% 0 20%;
    border: black solid 2px;
    text-align: center;
}

th, td {
    height: max-content;
    border: black solid 1px;
    text-align: center;
}
tr{
    background-color: #333333;
    cursor: context-menu;
}
 tr:hover{
     background-color: white;
 }

.beigerow{
    color: #FFDB58;
}
.navyrow{
    color: #55DDE0;
}

#testimonials{
    background-color: #333333;
}

.circleimg{
    border: 3px solid gold;
    border-radius: 50%;
    width: 2%;
    height: 2%;
}
#testimonials blockquote {
    font-style: italic;
    border-left: 5px solid #333;
    padding: 10px;
}
#location{
    color: #333333;
}
#location:hover{
    color: white;
    background-color: black;
}
#location iframe {
    width: 100%;
    height: 450px;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
}
