.container {
    background: #333333;
    padding: 20px;
    border-radius: 1px;
    border-color: white;
    width: 80%;
    max-width: 100%;
    color: mintcream;
    z-index: 1;
    margin: 0 auto;
    box-sizing: border-box;
}

nav {
    width: 100%;
    background-color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #c10a28;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
    background-size: 100%;
}

.navbar a:hover {
    color: gold;
    background-color: black;
}

h1{
    text-align: center;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
}